* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: small;
}

html, body {
    margin-top: 0;
    min-height: 100%;
}

form, input {
    width: 100%;
}

#search {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    font-size:xx-large;
    border: none;
    border-bottom: 1px solid #222222;
}

ul {
    list-style: none;
}

li {

}
li.selected {
    color: white;
    background-color: #222222;
}