html {
    --main-bg-color: #ececec;
    --search-bg-color: #ffffff;
    --main-text-color: #FF0000;
    --accent-bg-color: #4A90D9;
    --accent-text-color: #868686;
    --selected-text-color: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: small;
}

html, body {
    margin: 0;
    min-height: 100%;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

form, input {
    width: 100%;
    border: none;
    background-color: var(--search-bg-color);
    color: var(--main-text-color);
}


form {
    position: fixed;
    border: none;
    border-bottom: 1px solid var(--accent-bg-color);
}

#search {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
    font-size:250%;
    margin-left: 5%;
    height: 65px;
}

ul {
    padding-left: 2%;
    list-style: none;
    max-height: calc(100vh - 65px);
}

#entryContainer {
    padding-top: 65px;
}

li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.25em 0 0.25em 0;
    cursor: pointer;
}

li.separator {
    padding: 0.25em 0 0.25em 0;
    font-size: 95%;
}

li > span:first-child {
		padding-left: 2em;
}

li.separator > span:first-child {
    padding-left: 0;
}

li > .icon:first-child {
    padding-left: 0;
    width: 2em;
    text-align: center;
    margin: 0;
}

li.selected, .selected .tab-content {
    color: var(--selected-text-color);
    background-color: var(--accent-bg-color);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.count {
    border-radius: 5px;
    padding: 0px 0.3em 0px 0.2em;
    margin-right: 2%;
}

.tab-content {
    width: 47%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-url, li.separator {
    color: var(--accent-text-color);
}
